header {
	background-color: #0077b6;
	color: #fff;
	padding: 10px;
}

nav {
	background-color: #383838;
	color: #fff;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 10px;
}

footer {
	background-color: #383838;
	color: #fff;
	padding: 10px;
	text-align: center;
}
